<section class="row">
    <section class="col-md-12">
        <section class="col-md-12">
            <img class="img" src="../Content/img/1.png">
        </section>
        <section class="col-md-12">
            <section class="col-md-6 pad-0">
                <section class="col-md-12">
                    <h2 class="text-center heading">Regular Classes</h2>
                </section>
                <section class="col-md-12">
                    <p>We conduct daily yoga and meditation classes in all our centers across the world. Reach out to the respective centers for more information on the schedule and fee.</p>
                    <h4 class="heading text-center">Trivandrum Center Schedule</h4>
                    <p>Asana & meditation classes - 6:30 AM - 8:30 AM and 6:30 PM - 8:30 PM on all days</p>
                    <p>Satsang with Santhi - 6:30 PM on Mondays & Thursdays depending on Santhi’s availability.</p>
                </section>
            </section>
            <section class="col-md-6 pad-0">
                <section class="col-md-12">
                    <h2 class="text-center heading">Personal Consultations & Initiations</h2>
                </section>
                <section class="col-md-12">
                    <p>Reach out to us if you are looking for personal consultations, counselling sessions & initiation into meditation by Santhi. Santhi will attend to your requests on appointment basis. </p>
                    <p><strong>Want to host us?</strong></p>
                    <p> Interested in spreading the wisdom of Santhi’s teachings? Santhi travels to Europe twice a year and spends the rest of his time mostly in India.</p><p> <a href="/#/contactus">Contact us</a> for more information about his availability & to schedule seminars, workshops, satsangs  and other customized programs in your place of request.</p>
                </section>
            </section>
        </section>
    </section>
</section>