<section class="row contact-page">
    <section class="col-md-12">
        <section id="map" map-lazy-load="https://maps.google.com/maps/api/js"
  map-lazy-load-params="{{googleMapsUrl}}">
         
  <ng-map zoom="2" center="48.817590, 43.475915" ng-if="!loadedInIndia">
    <marker position="59.299494, 17.676269" title="Sweden" ></marker>
             <marker position="44.286173, 11.878831" title="Italy" ></marker>
             <marker position="55.751395, 37.534455" title="Russia" ></marker>
             <marker position="8.500300, 76.959073" title="Trivandrum"  animation-iteration="2"></marker>
             <marker position="12.979289, 80.223445" title="Velachery" ></marker>
             <marker position="12.964678, 80.206831" title="Velachery" ></marker>
  </ng-map>

  <ng-map zoom="19" center="8.500279, 76.959073" ng-if="loadedInIndia">
      <marker position="8.500279, 76.959073" title="Italy" ></marker>
  </ng-map>

  </section>
    </section>
  <section class="col-md-12" ng-if="loadedInIndia">
     <div class="text-center address-container">
        <img src="../bin/assets/address.png" class="Address">
        </div> 
  </section>

    <section class="col-md-12">
        <h3>India</h3>
        <section class="col-md-4"><section class="col-md-12 border eq-ht"><h4 class="font-14"><strong>Trivandrum</strong></h4>
        <section><span>96 M.P. Appan Nagar</span><br><span>Vazhuthacaud</span><br><span>Trivandrum 695 014</span><br><span>Kerala</span><br><span>South India</span><br><span><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;(+91) 989 531 8323</span><br>
            <span><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;  santhischool@yahoo.co.in</span><br><a href="https://www.facebook.com/SchoolOfSanthiIndia/
                "><i class="fa fa-facebook-square" aria-hidden="true" ></i></a></section></section></section>
        <section class="col-md-4"><section class="col-md-12 border eq-ht"><h4 class="font-14"><strong>Chennai</strong></h4>
        <section><span>No 116/1,Third Main Road Sadasivam Nagar,Near Sadasivam Nagar Bus Stop</span><br><span>Madipakkam, </span><br><span>Chennai - 600091</span><br><span>South India</span><br><span><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;+(91)-44-33153308</span><br>
            <span><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;  santhischool@yahoo.co.in</span><br><a href="https://www.facebook.com/yoga.madipakkam/"><i class="fa fa-facebook-square" aria-hidden="true" ></i></a></section></section></section>
        <section class="col-md-4"><section class="col-md-12 border eq-ht"><h4 class="font-14"><strong>Chennai</strong></h4>
        <section><span>No 2</span><br><span>3rd Main Road, Dhandeeswaram Nagar </span><br><span>Velachery</span><br><span> Chennai - 600042</span><br><span>South India</span><br><span><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;+(91)-9790171722, 8122747380</span><br>
            <span><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;devendran.yoga@gmail.com</span><br><a href="https://www.facebook.com/SchoolOfSanthiChennai/"><i class="fa fa-facebook-square" aria-hidden="true" ></i></a></section></section></section>
    </section>
    <section class="col-md-12 mt-5">
        <h3>International</h3>
        <section class="col-md-4 "><section class="col-md-12 border eq-ht"><h4 class="font-14"><strong>Sweden</strong></h4>
        <section><span>Gurkvägen 6 </span><br><span>178 90 Ekerö</span><br><span>Sweden</span><br><span><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;(+46) 8 560 233 01,  (+46) 723 503 131 </span><br>
            <span><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;  santhischool@yahoo.co.in</span><br><a href="https://www.facebook.com/SchoolOfSanthiIndia/"><i class="fa fa-facebook-square" aria-hidden="true" ></i></a></section></section></section>
        <section class="col-md-4"><section class="col-md-12 border eq-ht"><h4 class="font-14"><strong>Italy</strong></h4>
        <section><span>c/o Circolo Ferrovieri DLF</span><br><span>Via S.Maria dell'Angelo 1</span><br><span>(Angelo via Cavour)</span><br><span>Faenza (RA)</span><br><span>Italy</span><br><span><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;339-46 92 009, 349-39 06 553</span><br>
            <span><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp; info@schoolofsanthi.it</span><br><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;&nbsp;<a href="http://www.schoolofsanthi.it"> www.schoolofsanthi.it</a><br><a href="https://www.facebook.com/SchoolOfSanthi.Italia/"><i class="fa fa-facebook-square" aria-hidden="true" ></i></a></section></section></section>
        <section class="col-md-4"><section class="col-md-12 border eq-ht"><h4 class="font-14"><strong>Russia</strong></h4>
        <section><span>Vavilova</span><br><span>Leninsky prospect,</span><br><span>Moscow</span><br>
            <span><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;kannan.yoga@gmail.com</span><br><a href="https://www.facebook.com/schoolofsanthi.moscow/"><i class="fa fa-facebook-square" aria-hidden="true" ></i></a></section></section>
        </section>
    </section>
</section>


