
      <div class="modal-content" id="ethicalGuidelinesModal">
        <div class="modal-header">
          <button type="button" class="close" ng-click="cancel()">&times;</button>
          <h4 class="modal-title">Ethical Guidelines for a Yoga Teacher</h4>
        </div>
        <div class="modal-body">
            <ul>
                <li>Pay reverence and respect to the great Grand Masters of Yoga and their teachings.</li>
                <li>Uphold the values that are set in Yama and Niyama.</li>
                <li>Commit to uphold knowledge and compassion as the basis of imparting spiritual knowledge.</li>
                <li>Uphold the integrity of Yoga Tradition and commit to impart this knowledge with sincerity and devotion.</li>
                <li>Feel the well-being of the students and do everything necessary and possible for their higher evolution.</li>
                <li>Respect the feelings and abilities of the students and their privacy.</li>
                <li>Yoga should not be used to attract and manipulate people with ulterior motives.</li>
                <li>Keep up humility as the basis to establish a state of less conflict and higher knowledge.</li>
                <li>Do not teach anything that has not been studied properly in order to protect your identity as a Yoga Teacher.</li>
                <li>One should not restrain the freedom of students to seek knowledge elsewhere in any case.</li>
                <li>Keep up the readiness to share the knowledge of Yoga as the Great Grand Masters of Lore shared with the serious aspirants without expecting anything in return in case the aspirant is dedicated to the cause.</li>
                <li>Keep the mind open to learn allied disciplines that are conducive for the enhancement of the knowledge of Yoga.</li>
                <li>Be ready to recognize and accept the limitation of one’s understanding and remain open towards newer techniques and knowledge in the field of Yoga.</li>
                <li>Create and maintain a clean, healthy atmosphere for practicing Yoga.</li>
                <li> Use healthy and decent language with the students.</li>
                <li>Dress appropriately while you teach. Wear comfortable clothes that will go with your practice.</li>
                <li>Avoid all kinds of vulgarities that constitute sexual harassment.</li>
                <li>Maintain a solemn atmosphere in the classroom conducive for imparting Yoga, the science of liberation.</li>
            </ul>
          </div>
           <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
        </div>
        </div>
