<section class="row">
<section class="col-md-12 col-sm-12">
    <section class="col-md-12 col-sm-12">
   <img src="../Content/img/3.png" style="width: 100%;">
</section>
    <section class="col-md-12 col-sm-12">
    <section class="col-md-9 col-sm-12">
        <section class="col-md-12">
    <h1 class="text-center heading">Teacher Training Courses</h1>
    </section>
        <p>Our world today, has a lot of spiritual teachers but lacks real masters. School of Santhi’s yoga Teacher Training courses aims at reforming serious spiritual seekers into masters of yoga. Santhi has carefully designed this programme to aid in one’s complete transformation in accordance with the ancient Gurukula System. The salient feature of this age-old system is the total involvement of the Master in imparting knowledge to his disciples in an atmosphere of love and compassion. </p>

<p>To ensure personal attention to all, we facilitate the courses in small groups. Chosen people from all over the world come to us for learning this art of transformation and they in turn propose this science to their students. Join our courses and experience this rare possibility if you have a serious interest in learning traditional yoga!</p>
          <section class="col-md-12 col-sm-12"> <section class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4 pad-0"><section class="col-md-4 col-sm-4 text-center pad-2"><img class="img-logo" src="Content/img/11.png" ng-click=goToUrl("http://www.internationalyogafederation.net/fiyorganizations.html")></section><section class="col-md-4 col-sm-4 text-center pad-2"><img src="Content/img/RYS%20200-AROUND-BLACK.jpg" ng-click=goToUrl("https://www.yogaalliance.org/SchoolPublicProfile?sid=2553&lid=2553") class="img-logo"></section><section class="col-md-4 col-sm-4 text-center pad-2"><img ng-click=goToUrl("https://www.yogaalliance.org/SchoolPublicProfile?sid=2553&lid=2553") class="img-logo" src="Content/img/RYS%20500-AROUND-BLACK.jpg"></section></section></section>
<section class="col-md-12"><h4 class="text-center"><strong>TTC Levels</strong></h4></section>
        <p>Our teacher training courses are not just restricted to a set of exercises/asanas for physical well-being. They deal with the practical application of ancient wisdom - Raja Yoga, Kundalini yoga, Swara yoga, Jnana Yoga, Samkhya philosophy, Patanjali’s Yoga sutra etc.. for a better understanding of the functioning of the body and mind. The subjects are taught in three different levels - 900 hours in total:</p>
        <section class="col-md-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" ng-click="toggleCaretIcon($event)" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Level 1 - 200 hours (RYS 200 and IRYS 200)  &nbsp;<i class="fa fa-angle-double-down" ng-click="toggleCaret($event)" aria-hidden="true"></i>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
       <p> Popularly known in the yoga world as TTC 200 is actually a 302 hours comprehensive program that Santhi has carefully designed to master the basics of Yoga and to turn one into a proficient, qualified yoga teacher.</p>
        <p><strong>Admission requirements:</strong><br>A serious interest in yoga and spirituality.<br>A willing mind to comply with our 
            <a data-toggle="modal" data-target="#studentRulesModal">student rules</a> and <a data-toggle="modal" data-target="#ethicalGuidelinesModal">ethical guidelines</a> for yoga teachers.</p>
          <p><strong>Certificate:</strong><br>On successful completion of this level, you will become Yoga Parichaya, Yoga Teacher Assistant and you will receive School of Santhi International Yoga Teacher Training Certificate, level 1, 200 hours (RYS 200 and IRYS 200)</p>
          <p><strong>Syllabus: </strong><br>Our TTC follows the recommended standards and guidelines of International Yoga Federation and Yoga Alliance US`for RYS 200. Additionally, we put in extra 102 hours against the standard 200 hours to ensure that students receive the maximum.</p>
          <section class="col-md-12">
              <section class="col-md-12">
                  <section class="well">
                  <p class="text-center"><strong>Theory sessions</strong></p>
                  <p>Food and it’s balancing nature according to yogic natural system<br>
                      Human Physiology<br>Human Anatomy<br>
Teaching Methodology<br>
Philosophy and Ethics<br>
Theory of creation - Samkhya Philosophy<br>
Different paths of Yoga:<br>
                    &nbsp; - Raja Yoga<br>
&nbsp;- Jnana Yoga<br>
&nbsp;- Bhakthi Yoga<br>
&nbsp;- Karma Yoga<br>
&nbsp;- Hatha Yoga<br>
&nbsp;- Swara Yoga – the science of prana and its applications<br>
&nbsp;- Kundalini Yoga - Chakra and channels<br>
                      
                      
                      Yoga philosophy - Aphorisms of Patanjali<br>
Yoga philosophy - Aphorisms of Thirumoolar's' Thirumandiram<br>
Evolution of elements and its role in Prana<br>
Pranic field and relationship between nature and man<br>
Food and Prana<br>
Atmosphere and Pranic exchange<br>
Different pranas and their functions<br>
Psychic energy centers and function of Prana<br>
Regulation and rebalance of prana<br>
Illness and elemental imbalance<br>
Principles of Yoga therapy and healing<br>
Kshat Kriyas<br>
Prana and higher evolution<br>
The theory of Karma and freedom<br>
States of consciousness and meditation<br>
Techniques of initiations and mantras<br>
Practical training in teaching<br>
Master and Disciple<br>


</p></section>
              </section>
              <section class="col-md-12">
                  <section class="well">
                        <p class="text-center"><strong>Practical sessions</strong></p>
                      <p>Yoga asanas<br>
Pranayama<br>
Relaxation<br>
Withdrawal of senses <br>
Concentration<br>
Meditation<br>
Healing based on Kundalini Yoga<br>
Teaching methodology<br>
Practice in teaching<br>
Kriyas<br>
</p>
                  </section>
              </section></section>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" ng-click="toggleCaretIcon($event)" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         Level 2 (Part 1) - 300 hours (RYS 500) &nbsp;<i class="fa fa-angle-double-down" ng-click="toggleCaret($event)" aria-hidden="true"></i>

        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <p>TTC 500 Part 1 is the second level of our 900 hours comprehensive TTC where one studies the psychological aspects of the above subjects in depth. </p>
          <p><strong>Admission requirements:</strong><br>A willing mind to comply with our   <a data-toggle="modal" data-target="#studentRulesModal">student rules</a> and <a data-toggle="modal" data-target="#ethicalGuidelinesModal">ethical guidelines</a> for yoga teachers.<br>
Should have successfully completed the level 1 - TTC 200 from School of Santhi 
</p>
          <p><strong>Certificate:</strong><br>On successful completion of this level, you will will receive School of Santhi International Yoga Teacher Training Certificate, Level 2, TTC 500 - Part 1 (RYS 500 - 1)
</p>
          <p><strong>Syllabus:</strong><br>You will further deepen your study into all the topics covered in the first level - TTC 200. Advanced asanas will be practiced and a great amount of time is dedicated to understanding the psychological aspects of yoga in depth.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"  ng-click="toggleCaretIcon($event)" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
           Level 3 (Part 2) - 300 hours (RYS 500)&nbsp;<i class="fa fa-angle-double-down" ng-click="toggleCaret($event)" aria-hidden="true"></i>

        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
          <p> TTC 500 Part 2 is the most advanced and the final level of the programme.</p>
       <p><strong>Admission requirements:</strong><br>A willing mind to comply with our   <a data-toggle="modal" data-target="#studentRulesModal">student rules</a> and <a data-toggle="modal" data-target="#ethicalGuidelinesModal">ethical guidelines</a> for yoga teachers.<br>
Should have successfully completed our first level - TTC 200 and second level - TTC 500 Part 1. <br>
One should also possess a minimum of 100 hours of yoga teaching experience outside the school.<br>
</p>
          <p><strong>Certificate:</strong><br>On successful completion of this level, you will become Yoga Adhyapaka, Yoga Teacher and you will receive School of Santhi International Yoga Teacher Training Certificate, Level 3, TTC 500 - Part 2 (RYS 500 - 2)</p>
          <p><strong>Syllabus:</strong><br>You will further advance your study into all the topics covered in the previous levels. Advanced asanas will be practiced and your study will deepen into further understanding the spiritual aspects of yoga.</p>
      </div>
    </div>
  </div>
</div></section>
       
    </section>
    <section class="col-md-3 col-sm-12">
 <section class="col-md-12 col-sm-12 pad-0 mt-10">
                
         <h3><p><strong>UPCOMING TTC's</strong></p></h3>
                
               <section class="col-md-12 pad-0"> <div class="list-group"> <a ng-repeat ="event in filteredEvents" href="/#/event/{{event.id}}" class="list-group-item no-padding"><section class="list-group-item-text"><div class="input-group">
  <span class="input-group-addon no-padding" id="sizing-addon1"><section class="date-section"><span class="font-2">{{event.startDay}}</span><br><span class="font-month">{{event.startMonth}} '{{event.startYear}}</span></section></span>
  <section class="col-md-12"><span class="event-title">{{event.slicedName}} ..</span><br><span class="event-text">{{event.slicedDesc}} ...</span></section>
</div></section></a>  </div></section><section class="col-md-12 pad-0"><a href ="#/events" class="pull-right font-16 all-events-link"><strong>All Events</strong></a></section></section><section class="col-md-12 mt-10 col-sm-12 pad-0"><section class="mb-10 embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Ts2JsVcFdg0" allowfullscreen></iframe>
</section></section></section>
    </section>
      </section>
</section>
  <div class="modal fade" id="ethicalGuidelinesModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Ethical Guidelines for a Yoga Teacher</h4>
        </div>
        <div class="modal-body">
            <ul>
                <li>Pay reverence and respect to the great Grand Masters of Yoga and their teachings.</li>
                <li>Uphold the values that are set in Yama and Niyama.</li>
                <li>Commit to uphold knowledge and compassion as the basis of imparting spiritual knowledge.</li>
                <li>Uphold the integrity of Yoga Tradition and commit to impart this knowledge with sincerity and devotion.</li>
                <li>Feel the well-being of the students and do everything necessary and possible for their higher evolution.</li>
                <li>Respect the feelings and abilities of the students and their privacy.</li>
                <li>Yoga should not be used to attract and manipulate people with ulterior motives.</li>
                <li>Keep up humility as the basis to establish a state of less conflict and higher knowledge.</li>
                <li>Do not teach anything that has not been studied properly in order to protect your identity as a Yoga Teacher.</li>
                <li>One should not restrain the freedom of students to seek knowledge elsewhere in any case.</li>
                <li>Keep up the readiness to share the knowledge of Yoga as the Great Grand Masters of Lore shared with the serious aspirants without expecting anything in return in case the aspirant is dedicated to the cause.</li>
                <li>Keep the mind open to learn allied disciplines that are conducive for the enhancement of the knowledge of Yoga.</li>
                <li>Be ready to recognize and accept the limitation of one’s understanding and remain open towards newer techniques and knowledge in the field of Yoga.</li>
                <li>Create and maintain a clean, healthy atmosphere for practicing Yoga.</li>
                <li> Use healthy and decent language with the students.</li>
                <li>Dress appropriately while you teach. Wear comfortable clothes that will go with your practice.</li>
                <li>Avoid all kinds of vulgarities that constitute sexual harassment.</li>
                <li>Maintain a solemn atmosphere in the classroom conducive for imparting Yoga, the science of liberation.</li>
            </ul>
          </div>
           <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
      </div>
</div>
  <div class="modal fade" id="studentRulesModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Student Rules</h4>
        </div>
        <div class="modal-body" id="studentRulesModal">
            <p>Please note that you are entering an educational program to learn Yoga in the spiritual way according to the Indian Gurukula System following the eight limbs of Yoga described by Sage Patanjali in his Yoga Sutras. The salient feature of this age-old system is the total involvement of the Master in imparting knowledge to his disciples in small groups in an atmosphere of love and compassion. </p>
            <p>This educational program is for serious spiritual seekers and is not suitable for tourists looking for a vacation, comfort and entertainment.</p>
            <p><h4 class="text-center"><u>Yoga - A discipline of mind, body and spirit</u></h4></p>
          <p>Our rules and regulations are a part of the Yogic lifestyle made to enhance the awareness of the mind. These should be followed sincerely to benefit the maximum out of this education and in turn make your experience more enjoyable.</p>
            <ol>
                <li>When undergoing a residential program, the participants should not leave the campus except on the days off. In case of an emergency, please obtain permission from the School administration before you step out.</li>
                <li>Do not bring in friends and relatives to stay in the accommodation provided by the School.</li>
                <li>Use of Alcohol, tobacco, steroids and other drugs etc. are strictly forbidden.</li>
                <li>Conform to the course schedule and diet to get the best results from the practice of Yoga. </li>
                <li>Be on time for all the lectures and practice sessions.</li>
                <li>Please contact the School administration if you are unwell.</li>
                <li>You can bring your medicines and continue any personal treatment that you may be undergoing but it is advisable to inform the School Administration about your ailment & treatment. </li>
                <li>In case of any major health ailment during the course, all treatments required should be managed by external medical experts at your own expense.</li>
                <li>Show reverence and respect to the local culture and traditions. Comply with the local rules and guidelines during any visits to religious areas. When in doubt, please consult your teachers or Santhi.</li>
                <li>Treat everyone with respect both inside and outside the school.</li>
                <li>Besides the above, School administration reserves all rights to frame and enforce any other rules that may be necessary from time to time. </li>
            </ol>
          </div>
           <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
        </div>

        </div>
      </div>
</div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>