<section class="row">
<section class="col-md-12">
    <section class="col-md-12">
   <img src="../Content/img/2.png" style="width: 100%;">
</section>

    <section class="col-md-12">
    <section class="col-md-9">
        <section class="col-md-12">
    <h1 class="text-center heading">Satsangs</h1>
    </section>
        <p>Satsang is a combination of two words, Sat and Sang. ‘Sat’ means essence. ‘Sang’ means meeting and hence Satsang means meeting with the essence. </p>
<p>Sankara sings: </p>
        <section class="col-md-12 col-sm-12"> <section class="col-md-4 col-sm-5 pad-0"><blockquote class="blockquote sans-quote">
  <p class="mb-0">Satsangatve nisangatwam: <br>Nisangatwe  nirmohatwam;<br>Nirmohatwe  niscala tatwam;<br>Nischala tatwe Jeevan mukti!</p>
</blockquote>
   </section> <section class="col-md-6 col-sm-7 pad-0"><blockquote class="blockquote quote">
  <p class="mb-0"> Satsang leads to detachment <br>Detachment leads to a state of no desire<br>State of no desire leads to the stillness of mind   <br>Stillness of mind leads to liberation </p>
</blockquote></section></section>
        <p>The purpose of Satsang is to stop the mind and remain in oneness with the inner essence. Generally, Satsangs are discourse sessions; the Master talks on spiritual subjects, narrates stories of Gods, sings devotional songs and the listeners in turn slowly melt into the satsang forgetting their chattering mind.</p>
<p>The uniqueness of Satsang with Santhi is that he starts the session with meditation. In the guided meditation he brings the participants into a state of deep relaxation. He leads them to stillness; allows them to relax with their inner witness thus offering a possibility to reach a state very close to Samadhi. He further continues the session with a discourse. The subjects are always centered around spirituality and transformation. </p>
<p>Santhi’s enlightening discourses are life transforming. He inspires his listeners to go for inner exploration and realization. The session usually ends with a question answer session where Santhi guides one into finding answers to his/her questions. </p>
    </section>
    <section class="col-md-3">
    <section class="col-md-12 col-sm-12 pad-0 mt-10">
         <h3><p><strong>UPCOMING SATSANGS</strong></p></h3>
               <section class="col-md-12 col-sm-12 pad-0"> <div class="list-group"> <a ng-repeat ="event in filteredEvents" href="/#/event/{{event.id}}" class="list-group-item no-padding"><section class="list-group-item-text"><div class="input-group">
  <span class="input-group-addon no-padding" id="sizing-addon1"><section class="date-section"><span class="font-2">{{event.startDay}}</span><br><span class="font-month">{{event.startMonth}} '{{event.startYear}}</span></section></span>
  <section class="col-md-12"><span class="event-title">{{event.slicedName}} ..</span><br><span class="event-text">{{event.slicedDesc}} ...</span></section>
</div></section></a>  </div></section><section class="col-md-12 col-sm-12 pad-0"><a href ="#/events" class="pull-right font-16 all-events-link"><strong>All Events</strong></a></section></section>
         <section class="col-md-12 col-sm-12 pad-0 mt-10"><section class="mb-10 embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kEWt4DZfrjs" allowfullscreen></iframe>
</section></section></section>
    </section>
      </section>
</section>
