<section class="col-md-12 pt-10 mt-20">
  <div class="row">
    <div class="col-md-11">
      <button type="button" class="btn btn-warning pull-right" ng-click="logout();">Logout</button> 
    </div>
  </div>
  <hr />
  <ul class="nav nav-tabs nav-justified ml-10">
  <li role="presentation" class="active"><a data-target="#events" data-toggle="tab">Events</a></li>
  <li role="presentation" data-toggle="tab"><a data-target="#news" data-toggle="tab">NEWS</a></li>
<!--   <li role="presentation" data-toggle="tab"><a data-target="#profile" data-toggle="tab">Blogs</a></li> -->
  <li role="presentation" data-toggle="tab" ng-click="enableDescription()"><a data-target="#yoga" data-toggle="tab">Know Yoga</a></li>
  <li role="presentation" data-toggle="tab" ng-click="enableSanthiBlogDescription()"><a data-target="#shanthi" data-toggle="tab">Blog</a></li>
</ul>
        </section>
  
 <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="events"><section class="col-md-12" ng-include="'/views/events1.html'"></section></div>
    <div role="tabpanel" class="tab-pane" id="news"><section class="col-md-12" ng-include="'/views/news.html'"></section></div>
    <div role="tabpanel" class="tab-pane" id="yoga"><section class="col-md-12" ng-include="'/views/create-blog-yoga.html'"></section></div>
    <div role="tabpanel" class="tab-pane" id="shanthi"><section class="col-md-12" ng-include="'/views/create-blog-shanthi.html'"></section></div>
  </div>