<section class="container-fluid">
	<img src="{{shanthi.banner}}" class="banner">
  <section class="col-md-8">
      <div class="card row homecard" ng-repeat="blog in shanthi.blogs">
          <div class="card-body">
          <image src="{{blog.image}}" alt="Shanthi" onerror="this.onerror=null;this.src='../bin/santhiblogs/shanthi.jpg'">
          <div data-toggle="modal" class="details" ng-click="showSelectedShanthiBlog(blog)" style="cursor:pointer" data-target="#detailedShanthiModal">
              <h2>{{blog.title}}</h2>
              <p>{{blog.highlightText}} <a href="#" ng-click = "prevent($event)">More...</a></p>
          </div>
          </div>
        </div>
  </section>
  <section class="col-md-4 side-panel">
      <aside class="popular-posts">
      <h3>Popular posts</h3>
      <p>No posts to display</p></aside>
      <aside class="youtube">
      <h3>Enlightment without action</h3>
          <iframe width="102.5%" height="315" src="https://www.youtube.com/embed/uAqMsWaVSIY?autoplay=1" frameborder="0" allowfullscreen></iframe>
      </aside>
      <aside class="programs">
        <h3>Programs</h3>
        <p>No programs to display</p>
      </aside>
  </section>
</section>

<div id="detailedShanthiModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <div><h3>{{shanthiTitle}}<h3></div>
                        </div>
                        <div class="modal-body">
                            <p ng-bind-html="shanthiDescription | to_trusted"></p>
                            <div style="display: inline-block; width: 100%;">
                                <button type="button" class="btn btn-danger pull-right" ng-click="closeShanthiModal()">Close</button>
                            </div>
                        </div>
                        <!-- <div class="modal-footer">
                        </div> -->
                    </div>
                </div>
            </div>