

        <div class="modal-header">
          <button type="button" class="close"ng-click="cancel()">&times;</button>
          <h4 class="modal-title">Student Rules</h4>
        </div>
        <div class="modal-body" id="studentRulesModal">
            <p>Please note that you are entering an educational program to learn Yoga in the spiritual way according to the Indian Gurukula System following the eight limbs of Yoga described by Sage Patanjali in his Yoga Sutras. The salient feature of this age-old system is the total involvement of the Master in imparting knowledge to his disciples in small groups in an atmosphere of love and compassion. </p>
            <p>This educational program is for serious spiritual seekers and is not suitable for tourists looking for a vacation, comfort and entertainment.</p>
            <p><h4 class="text-center"><u>Yoga - A discipline of mind, body and spirit</u></h4></p>
          <p>Our rules and regulations are a part of the Yogic lifestyle made to enhance the awareness of the mind. These should be followed sincerely to benefit the maximum out of this education and in turn make your experience more enjoyable.</p>
            <ol>
                <li>When undergoing a residential program, the participants should not leave the campus except on the days off. In case of an emergency, please obtain permission from the School administration before you step out.</li>
                <li>Do not bring in friends and relatives to stay in the accommodation provided by the School.</li>
                <li>Use of Alcohol, tobacco, steroids and other drugs etc. are strictly forbidden.</li>
                <li>Conform to the course schedule and diet to get the best results from the practice of Yoga. </li>
                <li>Be on time for all the lectures and practice sessions.</li>
                <li>Please contact the School administration if you are unwell.</li>
                <li>You can bring your medicines and continue any personal treatment that you may be undergoing but it is advisable to inform the School Administration about your ailment & treatment. </li>
                <li>In case of any major health ailment during the course, all treatments required should be managed by external medical experts at your own expense.</li>
                <li>Show reverence and respect to the local culture and traditions. Comply with the local rules and guidelines during any visits to religious areas. When in doubt, please consult your teachers or Santhi.</li>
                <li>Treat everyone with respect both inside and outside the school.</li>
                <li>Besides the above, School administration reserves all rights to frame and enforce any other rules that may be necessary from time to time. </li>
            </ol>
          </div>
           <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
        </div>
