<section class="row">
    <section class="col-md-12">
        <section class="col-md-12">
            <img style="width: 100%;" src="../Content/img/ws.png">
        </section>
        <section class="col-md-12">
            <section class="col-md-3 pad-0">
                <section class="col-md-12 pad-0 mt-10">
         <h3 class="font-22"><p><strong>UPCOMING RETREATS</strong></p></h3>
               <section class="col-md-12 pad-0"> <div class="list-group"> <a ng-repeat ="event in retreatEvents" href="/#/event/{{event.id}}" class="list-group-item no-padding"><section class="list-group-item-text"><div class="input-group">
  <span class="input-group-addon no-padding" id="sizing-addon1"><section class="date-section"><span class="font-2">{{event.startDay}}</span><br><span class="font-month">{{event.startMonth}} '{{event.startYear}}</span></section></span>
  <section class="col-md-12"><span class="event-title">{{event.slicedName}} ..</span><br><span class="event-text">{{event.slicedDesc}} ...</span></section>
</div></section></a>  </div></section><section class="col-md-12 pad-0"><a href ="#/events" class="pull-right font-16 all-events-link"><strong>All Events</strong></a></section></section>
                <section class="col-md-12 pad-0 mt-10"><section class="mb-10 embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Ye7Sm47EsWg" allowfullscreen></iframe>
</section></section>
            </section>
            <section class="col-md-6">
                <section class="col-md-12 mt-10">
                    <section class="col-md-12">
    <h3 class="text-center heading"><strong>WORKSHOPS</strong></h3>
    </section>
                    <section class="col-md-12 mt-10">
                    <p>Santhi’s workshops on meditation, yoga therapy, karma etc.. are very simple and offer practical solutions to painful problems, both mental and physical. With a warm and loving approach, Santhi gives the audience an opportunity to understand themselves and provides tools to improve the quality of life in his workshops. </p>
                    <p>The world is so hallucinating that we are grabbed fully by its experience. We are often self-assured and believe that we understand everything around us. Santhi challenges our beliefs and guides us into seeing things in a different way - a way in which you start looking deeply within yourself, see all the subtle aspects of the mind and its relation with prana - the vital force. You will learn to understand yourself without the backing of any concepts whatsoever.  </p>
                    <p>His teachings are suitable for people of all faiths, as well as both beginners and experienced practitioners. The benefits of his teachings have been tested and proven by time.</p></section>
                </section>
                <section class="col-md-12 mt-10">
                    <section class="col-md-12">
    <h3 class="text-center heading"><strong>SPIRITUAL RETREATS</strong></h3>
    </section>
                    <section class="col-md-12 mt-10">
                    <p>Journeys always teach us something new, a new perspective to see the world and life as it is. Spiritual journeys and retreats with Santhi are a wonderful opportunity for serious spiritual seekers to come in contact with the spiritual life and wisdom of India. Pranayama, Meditation, Satsangs and deep spiritual discussions with Santhi resonate the air amidst the nature in these retreats. </p>
                    <p>Join him, as he journeys through different pilgrimage centers like Rishikesh, Haridwar, Himalayas, along the mighty Ganges etc.. in the North of India, Kodachadri, Gokarna & the deeper parts of the Western Ghats in the South of India. Our Spiritual retreats are organized on interest basis nowadays. Get in touch with us if you are interested in treading on a spiritual journey with Santhi. </p>
                    </section>
                </section>
            </section>
            <section class="col-md-3 pad-0">
<section class="col-md-12 pad-0 mt-10">     
         <h3 class="font-22"><p><strong>UPCOMING WORKSHOPS</strong></p></h3>  
               <section class="col-md-12 pad-0"> <div class="list-group"> <a ng-repeat ="event in workshopEvents" href="/#/event/{{event.id}}" class="list-group-item no-padding"><section class="list-group-item-text"><div class="input-group">
  <span class="input-group-addon no-padding" id="sizing-addon1"><section class="date-section"><span class="font-2">{{event.startDay}}</span><br><span class="font-month">{{event.startMonth}} '{{event.startYear}}</span></section></span>
  <section class="col-md-12"><span class="event-title">{{event.slicedName}} ..</span><br><span class="event-text">{{event.slicedDesc}} ...</span></section>
</div></section></a>  </div></section><section class="col-md-12 pad-0"><a href ="#/events" class="pull-right font-16 all-events-link"><strong>All Events</strong></a></section></section>
                <section class="col-md-12 pad-0 mt-10"><section class="mb-10 embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zmn8El5VZao" allowfullscreen></iframe>
</section></section>
            </section>
        </section>
    </section>
</section>