<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="Content/img/school-of-santhi-logo-e1440683968911-299x300.png" type="image/x-icon">
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular-sanitize.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="/Content/css/main.css" rel="stylesheet">
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
      <link href="/Content/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="/Content/css/fullcalendar.min.css" rel="stylesheet"/>
    <script src="/Content/js/moment.min.js"></script>
    <script src="/Content/js/bootstrap-datetimepicker.js"></script>
    <script src="/Content/js/fullcalendar.min.js"></script>
    <script src="/Content/js/gcal.min.js"></script>
    <script src="/Content/js/calendar.js"></script>
    <link href="/Content/css/bootstrap-social.css" rel="stylesheet" >
   
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
<script src="../js/settings.js"></script>
        
    <title>School of Santhi</title>
    
</head>
<body ng-app="sosSettings">
         <section class="container-fluid">
        <section class="row no-gutter mt-10">
  
 <section class="col-md-3 text-center logo" ><section class="col-md-3"><img href="#" src="/Content/img/school%20of%20santhi.png"></section><section class=" col-md-8 logo-text text-left"><section class="sos-logo-text">school of santhi</section><section class="font-12">Traditional Yoga School</section></section></section></section>
                      <section class="ng-view"></section>
             <section class="row"><section class="col-md-3">
                 </section></section>
          </section>  
</body>
    
</html>